# LOOPS
for , while
example --- for i(iterative variable) in variable_name

In [1]:
name = "the way of the kings"
for char in name :
    print (char)

t
h
e

w
a
y

o
f

t
h
e

k
i
n
g
s

In [3]:
name = "Shakespeare"
for char in name :
    print (char)

S
h
a
k
e
s
p
e
a
r
e

In [4]:
x = [1, 3, 15, 10, 12]
for item in x :
    print (item)

1
3
15
10
12

In [5]:
# 10 movies 
movies = ['Interstellar', 'Pain & Gain', 'Harry potter', 'Shrek', 'Shershah', 'dhamaal', 'Ant-Man', 'Avengers','Superman', 'Batman']

In [6]:
# for every movie in movies
for movie in movies :
    print (f'{movie} | {len(movie)}' )

Interstellar | 12
Pain & Gain | 11
Harry potter | 12
Shrek | 5
Shershah | 8
dhamaal | 7
Ant-Man | 7
Avengers | 8
Superman | 8
Batman | 6

# Special Iterables used in Loops---- 
- range() , enumerate(), zip() 
- Range function generates sequence in memory using start & end values.
- Start Value is included 
- end value is excluded

In [9]:
for i in range(1,10) :
    print ("don't code")

don't code
don't code
don't code
don't code
don't code
don't code
don't code
don't code
don't code

In [ ]:
# if one value is passed in range() , then that is the end value
for x in range(1000):
    print (x, end='  ') #end is a setting for print fucntion
    # by default print changes line,  but here we are putting spaces

In [12]:
# range() can also take 3 values, first is start value, second is end value
# last is the gap between each step
for i in range(1, 100, 5) :
    print (i, end='  ')

1  6  11  16  21  26  31  36  41  46  51  56  61  66  71  76  81  86  91  96

In [19]:
#program to print odd numbers without jump/gap value in range function
for i in range (1,101) :
    if i % 2!=0:
        print (i, end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [23]:
# program to print odd num using jump/gap value in range function
for i in range (1,101,2):
    print (i, end="  ")

1  3  5  7  9  11  13  15  17  19  21  23  25  27  29  31  33  35  37  39  41  43  45  47  49  51  53  55  57  59  61  63  65  67  69  71  73  75  77  79  81  83  85  87  89  91  93  95  97  99